<!doctype html>
<html>
  <head>
    <title>My 1st App</title>
    <style>
      h1 {
        color: #333;
        text-align: center;
        margin-top: 50px;
      }
      p {
        font-size: 18px;
        line-height: 1.6;
        width: 60%;
        margin: 0 auto;
        text-align: justify;
      }
    </style>
  </head>
  <body>
    <h1>My 1st App</h1>
    <p>Welcome to my first Django app! This is a simple page with a title and a paragraph of text. I've added some basic CSS styling to make the page look a little bit better. I hope you like it!</p>
  </body>
</html>